<%@ page import="com.niafikra.minipos.Customer" %>
<!doctype html>
<html>
<head>
    <meta name="layout" content="main">
    <g:set var="entityName" value="${message(code: 'customer.label', default: 'Customer')}"/>
    <title><g:message code="default.show.label" args="[entityName]"/></title>
</head>

<body>
<a href="#show-customer" class="skip" tabindex="-1"><g:message code="default.link.skip.label"
                                                               default="Skip to content&hellip;"/></a>

<div class="nav" role="navigation">
    <ul>
        <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
        <li><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]"/></g:link></li>
        <li><g:link class="create" action="create"><g:message code="default.new.label"
                                                              args="[entityName]"/></g:link></li>
    </ul>
</div>

<div id="show-customer" class="content scaffold-show" role="main">
    <h1><g:message code="default.show.label" args="[entityName]"/></h1>
    <g:if test="${flash.message}">
        <div class="message" role="status">${flash.message}</div>
    </g:if>
    <ol class="property-list customer">

        <g:if test="${customerInstance?.address}">
            <li class="fieldcontain">
                <span id="address-label" class="property-label"><g:message code="customer.address.label"
                                                                           default="Address"/></span>

                <span class="property-value" aria-labelledby="address-label"><g:fieldValue bean="${customerInstance}"
                                                                                           field="address"/></span>

            </li>
        </g:if>

        <g:if test="${customerInstance?.mobile}">
            <li class="fieldcontain">
                <span id="mobile-label" class="property-label"><g:message code="customer.mobile.label"
                                                                          default="Mobile"/></span>

                <span class="property-value" aria-labelledby="mobile-label"><g:fieldValue bean="${customerInstance}"
                                                                                          field="mobile"/></span>

            </li>
        </g:if>

        <g:if test="${customerInstance?.name}">
            <li class="fieldcontain">
                <span id="name-label" class="property-label"><g:message code="customer.name.label"
                                                                        default="Name"/></span>

                <span class="property-value" aria-labelledby="name-label"><g:fieldValue bean="${customerInstance}"
                                                                                        field="name"/></span>

            </li>
        </g:if>

        <g:if test="${customerInstance?.sales}">
            <li class="fieldcontain">
                <span id="sales-label" class="property-label"><g:message code="customer.sales.label"
                                                                         default="Sales"/></span>

                <g:each in="${customerInstance.sales}" var="s">
                    <span class="property-value" aria-labelledby="sales-label"><g:link controller="sale" action="show"
                                                                                       id="${s.id}">${s?.encodeAsHTML()}</g:link></span>
                </g:each>

            </li>
        </g:if>

    </ol>
    <g:form>
        <fieldset class="buttons">
            <g:hiddenField name="id" value="${customerInstance?.id}"/>
            <g:link class="edit" action="edit" id="${customerInstance?.id}"><g:message code="default.button.edit.label"
                                                                                       default="Edit"/></g:link>
            <g:actionSubmit class="delete" action="delete"
                            value="${message(code: 'default.button.delete.label', default: 'Delete')}"
                            onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');"/>
        </fieldset>
    </g:form>
</div>
</body>
</html>
