<%@ page import="com.niafikra.minipos.Sale" %>
<!doctype html>
<html>
<head>
    <meta name="layout" content="main">
    <g:set var="entityName" value="${message(code: 'sale.label', default: 'Sale')}"/>
    <title><g:message code="default.list.label" args="[entityName]"/></title>
</head>

<body>
<a href="#list-sale" class="skip" tabindex="-1"><g:message code="default.link.skip.label"
                                                           default="Skip to content&hellip;"/></a>

<div class="nav" role="navigation">
    <ul>
        <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
        <li><g:link class="create" action="create"><g:message code="default.new.label"
                                                              args="[entityName]"/></g:link></li>
    </ul>
</div>

<div id="list-sale" class="content scaffold-list" role="main">
    <h1><g:message code="default.list.label" args="[entityName]"/></h1>
    <g:if test="${flash.message}">
        <div class="message" role="status">${flash.message}</div>
    </g:if>
    <table>
        <thead>
        <tr>

            <th><g:message code="sale.customer.label" default="Customer"/></th>

            <g:sortableColumn property="date" title="${message(code: 'sale.date.label', default: 'Date')}"/>

            <g:sortableColumn property="discount" title="${message(code: 'sale.discount.label', default: 'Discount')}"/>

            <th><g:message code="sale.product.label" default="Product"/></th>

            <g:sortableColumn property="type" title="${message(code: 'sale.type.label', default: 'Type')}"/>

        </tr>
        </thead>
        <tbody>
        <g:each in="${saleInstanceList}" status="i" var="saleInstance">
            <tr class="${(i % 2) == 0 ? 'even' : 'odd'}">

                <td><g:link action="show"
                            id="${saleInstance.id}">${fieldValue(bean: saleInstance, field: "customer")}</g:link></td>

                <td><g:formatDate date="${saleInstance.date}"/></td>

                <td>${fieldValue(bean: saleInstance, field: "discount")}</td>

                <td>${fieldValue(bean: saleInstance, field: "product")}</td>

                <td>${fieldValue(bean: saleInstance, field: "type")}</td>

            </tr>
        </g:each>
        </tbody>
    </table>

    <div class="pagination">
        <g:paginate total="${saleInstanceTotal}"/>
    </div>
</div>
</body>
</html>
