<%@ page import="com.niafikra.minipos.Product" %>
<!doctype html>
<html>
<head>
    <meta name="layout" content="main">
    <g:set var="entityName" value="${message(code: 'product.label', default: 'Product')}"/>
    <title><g:message code="default.list.label" args="[entityName]"/></title>
</head>

<body>
<a href="#list-product" class="skip" tabindex="-1"><g:message code="default.link.skip.label"
                                                              default="Skip to content&hellip;"/></a>

<div class="nav" role="navigation">
    <ul>
        <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
        <li><g:link class="create" action="create"><g:message code="default.new.label"
                                                              args="[entityName]"/></g:link></li>
    </ul>
</div>

<div id="list-product" class="content scaffold-list" role="main">
    <h1><g:message code="default.list.label" args="[entityName]"/></h1>
    <g:if test="${flash.message}">
        <div class="message" role="status">${flash.message}</div>
    </g:if>
    <table>
        <thead>
        <tr>

            <th><g:message code="product.stock.label" default="Stock"/></th>

            <th><g:message code="product.category.label" default="Category"/></th>

            <g:sortableColumn property="name" title="${message(code: 'product.name.label', default: 'Name')}"/>

            <g:sortableColumn property="salesCommission"
                              title="${message(code: 'product.salesCommission.label', default: 'Sales Commission')}"/>

            <g:sortableColumn property="teamCommision"
                              title="${message(code: 'product.teamCommision.label', default: 'Team Commision')}"/>

            <g:sortableColumn property="transportCost"
                              title="${message(code: 'product.transportCost.label', default: 'Transport Cost')}"/>

        </tr>
        </thead>
        <tbody>
        <g:each in="${productInstanceList}" status="i" var="productInstance">
            <tr class="${(i % 2) == 0 ? 'even' : 'odd'}">

                <td><g:link action="show"
                            id="${productInstance.id}">${fieldValue(bean: productInstance, field: "stock")}</g:link></td>

                <td>${fieldValue(bean: productInstance, field: "category")}</td>

                <td>${fieldValue(bean: productInstance, field: "name")}</td>

                <td>${fieldValue(bean: productInstance, field: "salesCommission")}</td>

                <td>${fieldValue(bean: productInstance, field: "teamCommision")}</td>

                <td>${fieldValue(bean: productInstance, field: "transportCost")}</td>

            </tr>
        </g:each>
        </tbody>
    </table>

    <div class="pagination">
        <g:paginate total="${productInstanceTotal}"/>
    </div>
</div>
</body>
</html>
